<div class="row">
  <div class="col-md-6">
    <h3>Half day session</h3>
    <table class="table table-striped">
	<tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
	<tr><td></td><td><a href="" target="_blank">Setup</a></td></tr>
	<tr><td>09:00</td><td><a href="" target="_blank">1. Introduction	What is machine learning?</a></td></tr>
	<tr><td>09:30</td><td><a href="" target="_blank">2. Data preparation	Why are some common steps in data preparation?</a></td></tr>
	<tr><td>10:00</td><td><a href="" target="_blank">3. Learning	How do machines learn?</a></td></tr>
	<tr> <td>10:45</td>  <td>Morning break</td> </tr>
	<tr><td></td>11:00<td><a href="" target="_blank">4. Modelling</a></td></tr>
	<tr><td></td>12:00<td><a href="" target="_blank">5. Validation</a></td></tr>
	<tr> <td>12:30</td>  <td>Lunch</td> </tr>
	<tr><td>13:30</td><td><a href="" target="_blank">6. Evaluation</a></td></tr>
	<tr><td>14:00</td><td><a href="" target="_blank">7. Bootstrapping</a></td></tr>
	<tr><td>15:00</td><td><a href="" target="_blank">8. Data leakage</a></td></tr>
	<tr> <td>15:30</td>  <td>Coffee and discuss</td> </tr>
	<tr> <td>16:00</td>  <td>END and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> </tr>
    </table>
  </div>  
</div>
